<!-- empty_behavior_manager.launch -->

<launch>
  <arg name="behavior_name"          default="empty_behavior" />
  <arg name="base_uri"               default="http://localhost:8080/" />
  <arg name="status_topic"           default="status_topic" />
  <arg name="get_resources_topic"    default="resources_ask" />
  <arg name="give_resources_topic"   default="resources_take" />
  <arg name="update_resources_topic" default="resource_return" />
  <arg name="modify_robots_topic"    default="thread_pool" />
  <arg name="listen_topic"           default="behaviors" />

  <include file="$(find behavior_manager)/launch/behavior_pool.launch" ns="empty_behavior_manager_node" >
    <arg name="behavior_name"          value="$(arg behavior_name)" />
    <arg name="base_uri"               value="$(arg base_uri)" />
    <arg name="status_topic"           value="$(arg status_topic)" />
    <arg name="get_resources_topic"    value="$(arg get_resources_topic)" />
    <arg name="give_resources_topic"   value="$(arg give_resources_topic)" />
    <arg name="update_resources_topic" value="$(arg update_resources_topic)" />
    <arg name="modify_robots_topic"    value="$(arg modify_robots_topic)" />
    <arg name="listen_topic"           value="$(arg listen_topic)" />
  </include>

  <node name="empty_behavior_manager_node"
        type="empty_behavior_manager_node"
        pkg="empty_behavior_manager"
        output="screen"
        launch-prefix="gdb" >
    <rosparam>
      role_namespaces:
        - "needed_2_bot_role"
        - "not_needed_role"

      needed_2_bot_role:
        name: "needed_2_bot_role"
        required: true
        priority: 3

        resource_namespaces:
          - "robot1"
          - "robot2"

        robot1:
          name: "robot1"
          category: "ground"
          type: "turtle"
          required: true
          priority: 10
          nodes:
            - "needed_nodes_for_role"
        robot2:
          name: "robot2"
          category: "ground"
          type: "turtle"
          required: false
          priority: 1
          nodes:
            - "not_needed_nodes_for_role"
      not_needed_role:
        name: "not_needed_role"
        required: false
        priority: 3
        resource_namespaces:
          - "robot3"

        robot3:
          name: "robot3"
          category: "ground"
          type: "turtle"
          required: true
          priority: 10
          nodes:
            - "nodes_that_are_needed_for_a_unneeded_role"
    </rosparam>
  </node>
</launch>
