<!-- full_emulator.launch -->

<launch>
  <arg name="listener_output" value="behaviors" />
  <arg name="resource_ask"    value="resources_ask" />
  <arg name="resource_take"   value="resources_take" />
  <arg name="resource_return" value="resource_return" />
  <arg name="thread_pool"     value="thread_tool" />

  <include file="$(find behavior_listener_emulator)/launch/behavior_listener_emulator.launch" >
    <arg name="notifying_topic" value="$(arg listener_output)" />
  </include>

  <include file="$(find resource_manager_emulator)/launch/resource_manager_emulator.launch" >
    <arg name="request_topic"       value="$(arg resource_ask)" />
    <arg name="get_resources_topic" value="$(arg resource_take)" />
  </include>

  <include file="$(find empty_behavior_manager)/launch/empty_behavior_manager.launch" >
    <arg name="resource_return_topic"  value="$(arg resource_return)" />
    <arg name="resource_request_topic" value="$(arg resource_ask)" />
    <arg name="take_resources_topic"   value="$(arg resource_take)" />
    <arg name="modify_nodes_topic"     value="$(arg thread_pool)" />
    <arg name="config_file"            value="$(find behavior_manager)/config/template.json)" />
  </include>

  <include file="$(find master_thread_pool)/launch/ " >
    <arg name="" value="$(arg thread_pool)" />
  </include>
</launch>
