<!-- master_thread_pool_emulator.launch -->

<launch>
  <arg name ="request_topic"    default="request_topic"
        doc="This is the topic that recieves a ModifyNodes message" />


  <node name="master_thread_pool_emulator" type="master_thread_pool_emulator_node" pkg="master_thread_pool_emulator" output="screen">
    <param name="request_topic"  value="$(arg request_topic)"/>
  </node>
</launch>
